<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sharehome.springbootinittemplate.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="top.sharehome.springbootinittemplate.model.entity.User">
        <!--@mbg.generated-->
        <!--@Table init_db.t_user-->
        <id column="user_id" jdbcType="BIGINT" property="id"/>
        <result column="user_account" jdbcType="VARCHAR" property="account"/>
        <result column="user_password" jdbcType="VARCHAR" property="password"/>
        <result column="user_name" jdbcType="VARCHAR" property="name"/>
        <result column="user_avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="user_role" jdbcType="VARCHAR" property="role"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id,
        user_account,
        user_password,
        user_name,
        user_avatar,
        user_role,
        create_time,
        update_time,
        is_deleted
    </sql>
</mapper>